.scrollable-column {
    height: 70vh; /* Adjust the desired height */
    overflow-y: auto;
  }

.scrollable-column-mini {
    height: 40vh; /* Adjust the desired height */
    overflow-y: auto;
  }

/* Align navbar items at the bottom */
.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; /* Make sure the navbar takes up the full height */
  }
  
  .navbar-nav .nav-item {
    margin-bottom: auto; /* Push the items to the bottom */
  }


  